* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #12141c;
  color: #eaebf0;
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.title {
  text-align: center;
}

.title p {
  font-size: 14px;
  font-weight: 400;
}

.file-input {
  width: 400px;
  height: 150px;
  background-color: #eaebf0;
  color: #12141c;
  border-radius: 8px;
  display: grid;
  grid-template-areas: 'stack';
}

.file-input > * {
  grid-area: stack;
}

.file-input > input {
  opacity: 0;
}

.file-input.active > .drop-zone {
  margin: 10px;
  background-color: #606a78;
}

.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms;
  position: relative;
}

.drop-zone {
  margin: 8px;
  border: dashed 2px #9e9e9e;
  border-radius: 6px;
}

.drop-zone > p {
  z-index: 10;
  text-shadow: rgba(18, 18, 18, 0.5) 10px 0 20px;
}

.drop-zone img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.3;
  transition: opacity 500ms;
  object-fit: cover;
}

.file-input:hover .drop-zone {
  opacity: 0.5;
  transition: opacity 300ms;
}

#result {
  background-color: #eaebf0;
  padding: 8px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#canvas {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
